*~
*.log*
*.json
*.out
*.pyc
content/author/feed/*
content/author/flickr/*
content/author/instagram/*
content/author/tumblr/*
content/author/twitter/*
content/source/feed/*
content/source/flickr/*
content/source/instagram/*
content/source/tumblr/*
content/source/twitter/*
packages/*/build
packages/*/dist
packages/*/doc
packages/*/*.egg-info
source/scratch/IndexFiles.index
