*~
*.log*
*.out
*.pyc
content/authors/feed/*
content/authors/flickr/*
content/authors/instagram/*
content/authors/tumblr/*
content/authors/twitter/*
content/sources/feed/*
content/sources/flickr/*
content/sources/instagram/*
content/sources/tumblr/*
content/sources/twitter/*
packages/*/build
packages/*/dist
packages/*/doc
packages/*/*.egg-info
